* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 15%;
    transition: all .30s ease;
    background: rgba(0, 0, 0, 0.2);
}

.logo {
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo span {
    color: deeppink;
}

.navlist {
    display: flex;
}

.navlist li {
    margin-left: 30px;
}

.navlist a {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

section {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    max-height: fit-content;
}

.home-container {
    padding-top: 5%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.intro-text {
    display: flex;
    flex-direction: column;

    flex: 6;
}

.intro-text h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.intro-text h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 20px;
}

.intro-text button {
    width: 40%;
    padding: 10px 20px;
    background: deeppink;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.intro-image img {
    height: 370px;
    width: 350px;
    object-fit: cover;
    animation: animate 3s infinite linear alternate;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 35% 70% / 60% 30% 65% 40%;
    }

    50% {
        border-radius: 60% 50% 65% 40% / 30% 40% 35% 70%;
    }

    100% {
        border-radius: 60% 40% 35% 70% / 60% 30% 65% 40%;
    }
}

.intro-social {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
    justify-content: flex-start;
}

.intro-social a {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.intro-social a i {
    font-size: 25px;
    margin-right: 10px;
}